entrypoint = "main.py"
run = "python main.py"
modules = ["python-3.11"]
[web]
host = "0.0.0.0"
port = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[nix]
packages = ["cacert", "cargo", "libiconv", "rustc"]

[agent]
expertMode = true
